<div id="whole">
    <div id="nav">
        <div class="words">
            <div [routerLink]="['../home']" class='filled'><p>H</p></div>
            <div [routerLink]="['../home']" class='filled'><p>O</p></div>
            <div [routerLink]="['../home']" class='filled'><p>M</p></div>
            <div [routerLink]="['../home']" class='filled'><p>E</p></div><br>
        </div>
        <div class="words">
            <div [routerLink]="['../about-me']" class='filled'><p>A</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>B</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>O</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>U</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>T</p></div>
        </div>
        <div class="words">
            <div [routerLink]="['../skills']" class='filled'><p>S</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>K</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>I</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>L</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>L</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>S</p></div><br>
        </div>
        <div class="words">
            <div [routerLink]="['../projects']" class='filled'><p>P</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>R</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>O</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>J</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>E</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>C</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>T</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>S</p></div><br>
        </div>
        <div class="words">        
            <div [routerLink]="['../contact-me']" class='filled'><p>C</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>O</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>N</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>T</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>A</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>C</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>T</p></div>
        </div>
    </div>
    <div id="right">
        <div class="wrapper color">
            <div class='tooltip' id='topleft'>
                <h6 class="tooltiptext">In my free time I enjoying watch television shows about crime, such as Sherlock and Psych.</h6>
            </div>
            <div id='one'></div>
            <div id='two'></div>
            <div class='tooltip' id='topmiddle'>
                <h6 class="tooltiptext">I was born in Gig Harbor, Washington on December 9th, 1996 — the youngest of four boys.</h6>
            </div>
            <div id='three'></div>
            <div class='tooltip' id='topright'>
                <h6 class="tooltiptext">Through Coding Dojo I learned a wide variety of programming skills and graduated top of my class. Prior to enrolling, I self-studied Ruby through resources I found online. </h6>
            </div>
            <div id='four'></div>
            <div></div>
            <div class='tooltip' id='middletopleft'>
                <h6 class="tooltiptext">I moved to Las Vegas when I was three years old and lived there until I was thirteen.</h6>
            </div>
            <div></div>
            <div></div>
            <div class='tooltip' id='middlemiddle'>
                <h6 class="tooltiptext"><a href="assets/images/resume.pdf" target='_blank'>Resume</a></h6>
            </div>
            <div></div>
            <div></div>
            <div id='seven'></div>
            <div class='tooltip' id='middleright'>
                <h6 class="tooltiptext">I attended Redondo Union High School and graduated in 2015. I participated in various extracurricular events including the armed exhibition team in Marine Corps Junior ROTC. See <a href="https://www.youtube.com/playlist?list=PLwKWjs49vYcj60YXL9CnP7XyNT2wqoQPD" target='_blank'>Here.</a></h6>
            </div>
            <div id='eight'></div>
            <div id='nine'></div>
            <div class='tooltip' id='middlebottomleft'>
                <h6 class="tooltiptext">My favorite hobby is bowling, for which I even had a custom ball created.</h6>
            </div>
            <div id='ten'></div>
            <div id='eleven'></div>
            <div class='tooltip' id='bottomleft'>
                <h6 class="tooltiptext">I have been Christian from a young age and enjoy attending church where I have volunteered since I was fourteen.</h6>
            </div>
            <div id='twelve'></div>
            <div class='tooltip' id='bottommiddle'>
                <h6 class="tooltiptext">I moved to Redondo Beach, California at thirteen years of age and have lived there since.</h6>
            </div>
            <div id='thirteen'></div>
            <div id='fourteen'></div>
            <div class='tooltip' id='bottomright'>
                <h6 class="tooltiptext"> I joined the United States Marine Corps Reserves in February of 2016 as a field artillery fire control man and graduated from bootcamp as the Company Honorman. </h6>
            </div>
            <div id='fifteen'></div>
            <div id='sixteen'></div>
            <div id='seventeen'></div>
            <div id='nineteen'></div>
            <div id='twenty'></div>
            <div id='twentyone'></div>
            <div id='twentytwo'></div>
            <div id='twentythree'></div>
            <div id='twentyfour'></div>
            <div id='twentyfive'></div>
            <div id='twentysix'></div>
            <div id='twentyseven'></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
