<!-- <div id="nav">
    <div [routerLink]="['../home']" class='filled'>H</div>
    <div [routerLink]="['../home']" class='filled'>O</div>
    <div [routerLink]="['../home']" class='filled'>M</div>
    <div [routerLink]="['../home']" class='filled'>E</div><br>

    <div [routerLink]="['../about-me']" class='filled'>A</div>
    <div [routerLink]="['../about-me']" class='filled'>B</div>
    <div [routerLink]="['../about-me']" class='filled'>O</div>
    <div [routerLink]="['../about-me']" class='filled'>U</div>
    <div [routerLink]="['../about-me']" class='filled'>T</div>
    <div [routerLink]="['../about-me']" class='filled'>_</div>
    <div [routerLink]="['../about-me']" class='filled'>M</div>
    <div [routerLink]="['../about-me']" class='filled'>E</div><br>

    <div [routerLink]="['../skills']" class='filled'>S</div>
    <div [routerLink]="['../skills']" class='filled'>K</div>
    <div [routerLink]="['../skills']" class='filled'>I</div>
    <div [routerLink]="['../skills']" class='filled'>L</div>
    <div [routerLink]="['../skills']" class='filled'>L</div>
    <div [routerLink]="['../skills']" class='filled'>S</div><br>

    <div [routerLink]="['../projects']" class='filled'>P</div>
    <div [routerLink]="['../projects']" class='filled'>R</div>
    <div [routerLink]="['../projects']" class='filled'>O</div>
    <div [routerLink]="['../projects']" class='filled'>J</div>
    <div [routerLink]="['../projects']" class='filled'>E</div>
    <div [routerLink]="['../projects']" class='filled'>C</div>
    <div [routerLink]="['../projects']" class='filled'>T</div>
    <div [routerLink]="['../projects']" class='filled'>S</div><br>
    
    <div [routerLink]="['../contact-me']" class='filled'>C</div>
    <div [routerLink]="['../contact-me']" class='filled'>O</div>
    <div [routerLink]="['../contact-me']" class='filled'>N</div>
    <div [routerLink]="['../contact-me']" class='filled'>T</div>
    <div [routerLink]="['../contact-me']" class='filled'>A</div>
    <div [routerLink]="['../contact-me']" class='filled'>C</div>
    <div [routerLink]="['../contact-me']" class='filled'>T</div>
    <div [routerLink]="['../contact-me']" class='filled'>_</div>
    <div [routerLink]="['../contact-me']" class='filled'>M</div>
    <div [routerLink]="['../contact-me']" class='filled'>E</div><br>
</div> -->

<router-outlet></router-outlet> 