<div class="wrapper color">
  <div class='border color' id="top"><p>Klayten Richmond</p></div>
  <div class='red'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='red'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='red'></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div [routerLink]="['../projects']" class='filled'>P</div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div> 
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div [routerLink]="['../projects']" class='filled'>R</div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div [routerLink]="['../about-me']" class='filled'>A</div>
  <div [routerLink]="['../about-me']" class='filled'>B</div>
  <div [routerLink]="['../about-me']" class='filled'>O</div>
  <div [routerLink]="['../about-me']" class='filled'>U</div>
  <div [routerLink]="['../about-me']" class='filled'>T</div>
  <div [routerLink]="['../about-me']" class='filled'>_</div>
  <div [routerLink]="['../about-me']" class='filled'>M</div>
  <div [routerLink]="['../about-me']" class='filled'>E</div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div [routerLink]="['../projects']" class='filled'>J</div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div [routerLink]="['../projects']" class='filled'>E</div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div [routerLink]="['../contact-me']" class='filled'>C</div>
  <div [routerLink]="['../contact-me']" class='filled'>O</div>
  <div [routerLink]="['../contact-me']" class='filled'>N</div>
  <div [routerLink]="['../contact-me']" class='filled'>T</div>
  <div [routerLink]="['../contact-me']" class='filled'>A</div>
  <div [routerLink]="['../contact-me']" class='filled'>C</div>
  <div [routerLink]="['../contact-me']" class='filled'>T</div>
  <div [routerLink]="['../contact-me']" class='filled'>_</div>
  <div [routerLink]="['../contact-me']" class='filled'>M</div>
  <div [routerLink]="['../contact-me']" class='filled'>E</div>
  <div></div>
  <div></div>
  <div class='red'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div [routerLink]="['../projects']" class='filled'>T</div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div [routerLink]="['../skills']" class='filled'>S</div>
  <div [routerLink]="['../skills']" class='filled'>K</div>
  <div [routerLink]="['../skills']" class='filled'>I</div>
  <div [routerLink]="['../skills']" class='filled'>L</div>
  <div [routerLink]="['../skills']" class='filled'>L</div>
  <div [routerLink]="['../skills']" class='filled'>S</div>
  <div class='lightgreen'></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div></div>
  <div class='lightgreen'></div>
  <div></div>
  <div></div>
  <div class='pink'></div>
  <div></div>
  <div class='red'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='red'></div>
  <div></div>
  <div></div>
  <div class='blue'></div>
  <div></div>
  <div></div>
  <div class='red'></div>
  <div class='border color' id="right">
      <div class='filledName'>R</div>
      <div class='filledName'>I</div>
      <div class='filledName'>C</div>
      <div class='filledName'>H</div>
      <div class='filledName'>M</div>
      <div class='filledName'>O</div>
      <div class='filledName'>N</div>
      <div class='filledName'>D</div>
  </div>
  <div class='border color' id="left">
      <div class='filledName'>K</div>
      <div class='filledName'>L</div>
      <div class='filledName'>A</div>
      <div class='filledName'>Y</div>
      <div class='filledName'>T</div>
      <div class='filledName'>E</div>
      <div class='filledName'>N</div>
  </div>
  <div class='border color' id="bottom"><p>Klayten Richmond</p></div>
</div>