<div id="wrapper">
    <div id="nav">
        <div class="words">
            <div [routerLink]="['../home']" class='filled'><p>H</p></div>
            <div [routerLink]="['../home']" class='filled'><p>O</p></div>
            <div [routerLink]="['../home']" class='filled'><p>M</p></div>
            <div [routerLink]="['../home']" class='filled'><p>E</p></div><br>
        </div>
        <div class="words">
            <div [routerLink]="['../about-me']" class='filled'><p>A</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>B</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>O</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>U</p></div>
            <div [routerLink]="['../about-me']" class='filled'><p>T</p></div>
        </div>
        <div class="words">
            <div [routerLink]="['../skills']" class='filled'><p>S</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>K</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>I</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>L</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>L</p></div>
            <div [routerLink]="['../skills']" class='filled'><p>S</p></div><br>
        </div>
        <div class="words">
            <div [routerLink]="['../projects']" class='filled'><p>P</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>R</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>O</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>J</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>E</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>C</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>T</p></div>
            <div [routerLink]="['../projects']" class='filled'><p>S</p></div><br>
        </div>
        <div class="words">        
            <div [routerLink]="['../contact-me']" class='filled'><p>C</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>O</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>N</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>T</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>A</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>C</p></div>
            <div [routerLink]="['../contact-me']" class='filled'><p>T</p></div>
        </div>
    </div>
    <div id="rightside">
        <div id='innerright'>
            <div class="topleft"> 
                <H3 id='blue'>DATABASES</H3>
                <H3 id='purple'>SERVERS</H3>
                <img id='database' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/database.png" alt="database">
                <img id='arrow_right' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/arrow_right.png" alt="right arrow">
            </div>
            <div class='top blue'>
                <h6 class='db_words'>MYSQL</h6>
            </div>
            <div class='top blue'>
                <h6 class='db_words'>MONGODB</h6>
            </div>
            <div class='top'>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/bubble.png" alt="dialogue bubble">
                <h6 class='top_skill_words'>CONFIDENT</h6>
            </div>
            <div class='top blue'>
                <h6 class='db_words'>POSTGRESQL</h6>
            </div>
            <div class='top'>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/briefcase.png" alt="briefcase">
                <h6 class='top_skill_words'>AUTODIDACTIC</h6>
            </div>
            <div class='top blue'>
                <h6 class='db_words'>MONGOOSE</h6>
            </div>
            <div class='top'>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/brain.png" alt="brain">
                <h6 class='top_skill_words'>CREATIVE</h6>
            </div>
            <div class='top'>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/lightbulb.png" alt="lightbulb">
                <h6 class='top_skill_words'>FUNNY</h6>
            </div>
            <div class='top purple'>
                <h6 class='db_words'>NODEJS</h6>
            </div>
            <div class='left green'>
                <h6 class='framework_words'>EXPRESS</h6>
            </div>
            <div class='right orange'>
                <h6 class='learning_words'>C#</h6>
            </div>
            <div class='left green'>
                <h6 class='framework_words'>ANGULAR</h6>
            </div>
            <div class='right orange'>
                <h6 class='learning_words'>REACT</h6>
            </div>
            <div class='left'>
                <h6 class='left_skill_words'>TRUSTWORTHY</h6>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/point.png" alt="point">
            </div>
            <div class='right'>
                <h6 class='right_skill_words'>DEPENDABLE</h6>
                <img class='rightpics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/point.png" alt="point">
            </div>
            <div class='left green'>
                <h6 class='framework_words'>DJANGO</h6>
            </div>
            <div class='right orange'>
                <h6 class='learning_words'>JAVA</h6>
            </div>
            <div class='left'>
                <h6 class='left_skill_words'>INITIATIVE</h6>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/briefcase.png" alt="briefcase">
            </div>
            <div class='right'>
                <h6 class='right_skill_words'>ADAPTABLE</h6>
                <img class='rightpics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/briefcase.png" alt="briefcase">
            </div>
            <div class='left green'>
                <h6 class='framework_words'>EMBER</h6>
            </div>
            <div class='right'>
                <h6 class='right_skill_words'>NATURAL LEADER</h6>
                <img class='rightpics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/bubble.png" alt="bubble">
            </div>
            <div class='left green'>
                <h6 class='framework_words'>RAILS</h6>
            </div>
            <div class='right orange'>
                <h6 class='learning_words'>PHP</h6>
            </div>
            <div class='left'>
                <h6 class='left_skill_words'>LOGICAL</h6>
                <img src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/brain.png" alt="brain">
            </div>
            <div class='right'>
                <h6 class='right_skill_words'>CURIOUS</h6>
                <img class='rightpics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/lightbulb.png" alt="lightbulb">
            </div>
            <div class='left green'>
                <h6 class='framework_words'>RSPEC</h6>
            </div>
            <div class='right orange'>
                <h6 class='learning_words'>SPRING</h6>
            </div>
            <div class='middle'>
                <div id="left"></div>
                <h1 id='title'>SKILLS & TRAITS</h1>
                <div id="right"></div>
            </div>
            <div class="topright">
                <H3 id="orange">CURRENTLY LEARNING</H3>
                <img id='learning' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/learning.png" alt="learning">
                <img id='arrow_down' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/arrow_down.png" alt="down arrow">
            </div>
            <div class="bottomleft">
                <H3 id="green">FRAMEWORKS</H3>
                <img id='framework' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/framework.png" alt="framework">
                <img id='arrow_up' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/arrow_up.png" alt="up arrow">
            </div>
            <div class='bottom red'>
                <h6 class='language_words'>HTML5</h6>
            </div>
            <div class='bottom red'>
                <h6 class='language_words'>CSS3</h6>
            </div>
            <div class='bottom'>
                <h6 class='bottom_skill_words'>SKILLED ORATOR</h6>
                <img class='bottompics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/bubble.png" alt="bubble">
            </div>
            <div class='bottom red'>
                <h6 class='language_words'>PYTHON</h6>
            </div>
            <div class='bottom'>
                <h6 class='bottom_skill_words'>MANAGES TIME WELL</h6>
                <img class='bottompics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/briefcase.png" alt="briefcase">
            </div>
            <div class='bottom'>
                <h6 class='bottom_skill_words'>PASSIONATE</h6>
                <img class='bottompics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/lightbulb.png" alt="lightbulb">
            </div>
            <div class='bottom red'>
                <h6 class='language_words'>RUBY</h6>
            </div>
            <div class='bottom'>
                <h6 class='bottom_skill_words'>ENTHUSIASTIC</h6>
                <img class='bottompics' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/point.png" alt="point">
            </div>
            <div class='bottom red'>
                <h6 class='language_words'>JAVASCRIPT</h6>
            </div>
            <div class="bottomright">
                <H3 id="red">LANGUAGES</H3>
                <img id='languages' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/languages.png" alt="languages">
                <img id='arrow_left' src="https://s3.us-east-2.amazonaws.com/klaytenrichmondportfolio/arrow_left.png" alt="left arrow">
            </div>
        </div>
    </div>
</div>
